<h1>Здравствуйте, {{ admin.full_name }}</h1>

<p>
    На {{ t('app_name') }} только что зарегистрирован новый пользователь {{ user.login }}.

    {% if user.status != 'active' %}
        Пожалуйста, проверьте статус новой учётной записи и активируйте её, если в этом есть необходимость.
    {% endif %}
</p>

<p>
    --<br>
    С наилучшими пожеланиями, {{ t('app_name') }}
</p>
