<h1>Привіт, {{ user.full_name }}</h1>

<p>
    Дякуємо за реєстрацію на {{ t('app_name') }}.

    {% if confirm_url %}
        Щоб завершити процес реєстрації, будь ласка, перейдіть за наступним посиланням:
        <a href="{{ confirm_url }}">{{ confirm_url }}</a>.
    {% endif %}
</p>

<p>
    --<br>
    З найкращими побажаннями, {{ t('app_name') }}
</p>
