<h1>Привіт, {{ admin.full_name }}</h1>

<p>
    На {{ t('app_name') }} тільки що зареєстровано нового користувача {{ user.login }}.

    {% if user.status != 'active' %}
        Будь ласка, перевірте статус нового облікового запису і активуйте його, якщо це необхідно.
    {% endif %}
</p>

<p>
    --<br>
    З найкращими побажаннями, {{ t('app_name') }}
</p>
